.app-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #333;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px;
    gap: 20px;
    box-sizing: border-box;
}

.game-wrapper {
    width: 100%;
    max-width: 521px;
    aspect-ratio: 521/577;
    flex-shrink: 0;
    max-height: 60vh;
}

.ui-wrapper {
    width: 100%;
    max-width: 521px;
    height: auto;
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 35vh;
}